#gameField{
    margin: 20px;
    margin-top: 70px;
}

.game-cell{
    width: 50px;
    height: 50px;
    background: #ddd;
    overflow: hidden;
}

.game-cell:hover{
    background: #e7e7e7;
}

#gameSelector{
    position: absolute;
    width: 55px;
    height: 55px;
    border: 3px solid #87d9ff;
}

.figure-X{
    color: red;
    background: #e5d5d5;
}

.figure-O{    
    color: blue;    
    background: #d5e1e5;
}

.figure{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding-bottom: 10px;
}

.menu{
    position: fixed;
    display: flex;
    justify-content: right;
    top: 0; 
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    box-shadow: 0 5px 3px rgba(0,0,0,0.3);
}

.menu__figure{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    box-shadow: 0 5px 3px rgba(0,0,0,0.3);
    margin: 0px 10px;
}

.menu__text{
    font-size: 20px;
    padding-left: 30px;
    padding-top: 10px;
    width: 90px;
}

#setButton{
    height: 60px;
    margin: 0px 10px;
}

#focusBtn{
    height: 60px;
    margin: 0px 10px;
}

.cell-weight{
    display: block;
    width: 50%;
    margin: 0px auto;
    background: #777;
    color: #fff;
    font-size: 13px;
    overflow: hidden;
    text-align: center;
    padding: 0px 5px;
    border-radius: 3px;
}




/*winnerWindow settings*/

.window{
    visibility: hidden;
    position: fixed;
    top: 200px;
    width: 300px;
    left: calc(50% - 150px);

    background: #eee;
    box-shadow: 10px 10px 5px 0px rgba( 0,0,0, 0.3 );
    padding: 30px;
}

.window h3{
    text-align: center;
    color: #777;
    font-weight: 200;
    border-bottom: 1px solid #777;
}

.btn{
    background: #6fb1c8;
    color: #fff;
    padding: 5px 10px;
    border: none;
    font-size: 20px;
    box-shadow: 5px 5px 5px 0px rgba( 0,0,0, 0.2 );
}

#againBtn{
    display: block;
    width: 70%;
    margin: 30px auto;    
}

.status{
    text-align: center;

}

.textX{
    color: red;
    font-size: 30px;
}

.textO{
    color: blue;
    font-size: 30px;
}


/*settings window*/

#settingsButton{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 50px;
    cursor: pointer;
    opacity: 0.7;
}

#settingsButton:hover{
    opacity: 1;
}

#okBtn{
    display: block;
    width: 70%;
    margin: 30px auto; 
}